.jobs-item { 
  width: calc(100% - 40px);
  box-sizing: border-box;
  box-shadow: rgb(113, 111, 104) 10px 5px 24px -19px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 76px;
  position: relative;
}

@media (min-width: 600px) {
  .jobs-item { 
    width: calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .jobs-item { 
    width: calc(25% - 40px);
  }
}

@media (min-width: 1200px) {
  .jobs-item { 
    width: calc(20% - 40px);
  }
}

.jobs-item > * {
  padding: 10px; 
}

.jobs-item > p {
  text-align: center;
}

.jobs-item > p:first-of-type {
  font-size:20px;
  text-align:center;
  font-weight: 700;
  border-bottom: 1px solid #ededed;
  margin-top: 30px;
  padding: 25px;
}

.jobs-item > p:first-of-type > span {
  font-weight: 400;
  font-style: italic;
}

.jobs-item > p:nth-of-type(3) {
  text-align:center;
  font-weight: 500;
  color: #000;
  font-size:20px;
  line-height: 120%;
  min-height: 92px;
  font-size: 20px !important;
}

.jobs-item > a {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #000;
  font-weight: 700;
  background-color: #fcc501;
  width: 100%;
  font-size: 19px;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #fcc501;
  transition: all 0.3s;
  padding: 20px 10px;
}

.jobs-item > a:hover {
  background-color: #fff;
  color: #fcc501;
}

.button-group h2 {
  font-size: 25px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}


.button-group h2 span {
  display: none;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 800px) {
  .button-group h2 span {
    display: block;
  }
}

.button-group select {
  width: 100%;
}

.button-group label.hidden {
  display: none;
}

.button-group .selected:is(input,select) {
  color: #000000;
  background-color: #fcc5017a;
}

#noresults {
  background-color: #f4c544;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #716f68;
  font-size: 38px;
  line-height: 110%;
  display: none;
  /*max-width: 880px;*/
  margin: 20px auto;
}

#noresults > p:nth-of-type(2) { font-size: 18px; }
#noresults > p:nth-of-type(3) { font-size: 26px; }

#noresults.show {
  display: block;
}


#numberresults {
  font-style: italic;
  color: #716f68;
  border-top: 2px solid #fcc501;
  display: block;
  width: 100%;
  margin-top: 10px;
  order: 6;
}

.filters-button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 5px;
  border-top: 2px solid #fcc501;
}

.filters-button-group > * {
  width: calc(50% - 5px);
}

.filters-button-group > *:first-of-type {
  width: calc(100% - 5px);
}

.post-content .filters-button-group > .button-group > h2 {
  font-size: 18px !important;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px;
}


.post-content .filters-button-group > .button-group > h2  span {
  display: none;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 800px) {
  .filters-button-group > *:first-of-type,
  .filters-button-group > * {
    width: calc(33% - 5px);
  }

  .post-content .filters-button-group > .button-group > h2 { 
    font-size: 30px !important;
    margin: 20px 0px;
   }

   .post-content .filters-button-group > .button-group > h2  span {
    display: block;
   }

}

/* -------------- Oferta --------------- */
.ofheader {
  background-color: #333333;
  margin-bottom: 90px;
  position: relative;
  padding: 40px 0px;
}


.ofheader:after {
  content: "";
  display: block;
  width: 100%;
  height: 45px;
  background-color: #333333;   
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
  position: absolute;
  bottom: -44px;
  left: 0px; 
}

.ofheader > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1248px;
  margin: auto;
}

.ofheader > div > * {
  max-width: 1248px; 
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  width: 100%;
}

.ofheader > div > h1 {
  font-size: 25px !important;
  color: #ffffff;
  /*text-transform: lowercase;*/
  margin-bottom: 30px;
}

.ofheader > div > div {
  margin-bottom: 50px;
}

.ofheader > div > div > a {
  color: #ffffff;
}

.ofheader > div > .shareoffer > span {
  font-size: 20px;
  margin: 0px 10px 10px 10px;
  display: inline-block;
}

.ofheader > div > .shareoffer > a {
  font-weight: 700;
  background-color: #fcc501;
  width: 100%;
  font-size: 19px;
  border-radius: 5px;
  border: 2px solid #fcc501;
  padding: 10px 20px;
  transition: all 0.3s;
  color: #000000;
}

.ofheader > div > .shareoffer > a:hover {
  background-color: #ffffff;
  color: #000000;
}

.ofheader > div > h2 {
  font-size: 22px !important;
  color: #ffffff;
  /*text-transform: lowercase;*/
  margin-bottom: 30px;
}

.ofheader > div > h2 > i:nth-of-type(2) {
  margin-left: 20px;
}

.ofcontent {
  display: flex;
  max-width: 1248px;
  margin: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.ofcontent > div:first-of-type {
  background-color: #ededed;
  border-radius: 5px;
  padding: 20px;
  width: calc(100% - 20px);
}

.ofcontent > div:first-of-type ul li {
  position: relative;
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #000000;
  font-weight: 16px;
}

.ofcontent > div:first-of-type ul li i {
  position: absolute;
  display: block;
  left: -23px;
  top: 5px;
}

.ofcontent > div:first-of-type ul li i.fa-star {
  left: -26px;
}


.ofcontent > div:last-of-type {
  padding: 20px;
  width: 100%;
}

@media (min-width: 780px) {
  .ofheader > div > h1 {
    font-size: 45px !important;
  }

  .ofheader > div > h2 {
    font-size: 34px !important;
  }

  .ofcontent > div:first-of-type {
    width: 33.33%;
  }

  .ofcontent > div:last-of-type {
    width: 66.66%;
  }

  .ofheader > div > h2,
  .ofheader > div > .shareoffer {
    width: 50%;
    max-width: 624px;
    margin: 0px;
  }

  .ofheader > div > .shareoffer {
    text-align: right;
    margin-top: -45px;
  }

  .ofheader > div > .shareoffer > span {
    font-size: 30px;
    margin: 0px 5px 10px 5px;
  }
}


.ofcontent > div:last-of-type > *:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

.ofcontent > div:last-of-type > h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.ofcontent > div:last-of-type > p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.ofcontent > div:last-of-type > div.boxeddata {
  background-color: #ededed;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.ofcontent > div:last-of-type > div.boxeddata > h4 {
  border-bottom: 2px solid #ffffff;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 5px 0px;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.ofcontent > div:last-of-type > div.boxeddata > p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.ofcontent > div:last-of-type > div.ofinfo {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  padding-top: 40px;
  position: relative;
}

.ofcontent > div:last-of-type > div.ofinfo:before {
  content: "";
  display: block;
  width: 50%;
  left: 25%;
  height: 3px;
  background-color: #000000;
  top: -2px;
  position: absolute;
}

.oflogo {
  color: #716F68;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

.oflogo span {
  font-weight: 400;
  font-style: italic;

}

.ofboton {
  text-align: center;
  margin-top: 30px;
  padding: 30px 10px 10px;
  border-top: 1px solid #ffffff;
}

.ofboton a,
.ofbotonresp a {
  font-weight: 700;
  background-color: #fcc501;
  width: 100%;
  font-size: 19px;
  border-radius: 5px;
  border: 2px solid #fcc501;
  padding: 10px 20px;
  transition: all 0.3s;
  color: #000000;
}

.ofbotonresp a {
  display: inline-block;
  margin: 20px 0px 0px;
  text-align: center;
}
@media (min-width: 780px) {
  .ofbotonresp a {
    display: none;
  }
}

.ofboton a:hover,
.ofbotonresp a:hover {
  background-color: #ffffff;
}
